body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4D4D4D;
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    height: 50px;
}

#menu-left {
    display: flex;
    margin-right: auto; /* Используем auto для выравнивания влево */
    border-collapse: collapse;
}

.menu-item {
    background-color: transparent;
    border: 2px solid #424242;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -2px;
    padding: 0;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-item a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-weight: 500;
}

.menu-item a:hover,
.menu-item a.active {
    background-color: #222222;
    color: #FFB347;
    font-weight: bold;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.menu-item a.active {
    width: 100%; /* Заполняем все пространство пункта меню */
}

#menu-right {
    display: flex;
    align-items: center;
    margin-left: -40px;
    margin-right: 10px;
}

.search-box {
    background-color: #EEEEEE;
    border: 1px solid #C2C2C2;
    border-radius: 25px;
    height: 30px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-right: 10px;
}

.search-box input {
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 5px;
}

.search-box input:focus {
    outline: none; 
}

.search-box img {
    width: 15px;
    height: 15px;
}

.logo img {
    width: 30px;
    height: 30px;
}

footer {
    background-color: #222222;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
}

.footer-content {
    margin: 0 auto;
    max-width: 100%;
}

#mySidenav,
#mySidenavThemes,
#firstTheme {
    background-color: #424242;
    color: #DDDDDD;
    height: 100%;
    width: 0;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

#mySidenav {
    color: #DDDDDD;
    background-color: #222222;
    height: 100%;
}

/* Убираем подчеркивание и меняем цвет текста в боковых панелях */
#mySidenav a,
#firstTheme a {
    text-decoration: none;
    color: #DDDDDD;
}

/* Добавляем линию под текстом в боковых панелях */
#mySidenav a::after,
#firstTheme a::after {
    content: "";
    display: block;
    border-bottom: 1px solid #DDDDDD;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Выделенный пункт в боковой панельке */
#mySidenav a:hover, #firstTheme a:hover {
    color: #FFB347;
    font-weight: 500;
}


#MainBody
{
    position: relative;
    top: 50px;
}

#sideBar
{
    position: fixed;
    height: 100%;
    z-index: 1;
}

#ContentBody
{
    justify-content: center;
    align-items: center;
    width: 100%;

}




details
{
    display:block;
    background: #fff;
    width: 800px;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    overflow:hidden;
    margin-bottom: 1.5rem;
    z-index: 0;
}

summary::-webkit-details-marker
{
    display:none;
}

summary::-moz-list-bullet
{
    list-style-type:none;
}

summary::marker
{
    display:none;
} 

summary 
{
    display:flex;
    font-size:1.4em;
    cursor: pointer;
    position: relative;
    padding: 10px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

summary::after 
{  
  top: .4em;
  right: .3em;
  color: transparent;
  background: url('img/список.jpg') no-repeat 50% 50% / 1em 1em;
  width: 1em;
  height: 1em;  
  content: "";
  position: absolute;
  transition: transform .5s;
}

details[open] > summary:after 
{
  transform: scale(1,-1);
  transform: rotate(45deg);
}
summary ~ * 
{
   padding: 0 1em 10px 1.4em;
}

details[open] summary ~ *
{ 
  animation: sweep .5s ease-in-out;
}

@keyframes sweep 
{
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

summary:focus 
{
  outline:0;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
}